# ini komentar
*.[oa]             # abaikan file *.o dan *.a
*~
*.pyc
*.class
/bin
/out
/target
~            # abaikan file yang diakhiri dengan ~
*.bak              # abaikan file dengan ekstensi .bak
!file.bak          # pengecualian, file.bak tidak diabaikan
/css               # hanya mengabaikan file didalam folder css, 
                   # foldernya didalamnya tidak
test/              # abaikan semua file didalam folder test/
doc/*.txt          # abaikan doc/notes.txt, 
/node_modules      # abaikan node modules
*.log
